[submodule "native/ios"]
	path = native/ios
	url = https://github.com/D0iloppa/saigon-rider-ios.git
[submodule "native/android"]
	path = native/android
	url = https://github.com/D0iloppa/saigon-rider-android.git
